.footer {
    position: fixed;
    bottom: 16px;
    width: 360px;
    max-width: 360px;
    height: 74px;
    background-color: #FFFFFF;
    border-radius: 24px 24px 0 0;
    display: flex;
    justify-content: space-between;
}

.footer__item {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 8px 0 0;
}

.icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}